.tile-set {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin: auto;
  max-width: fit-content;
}

.tile-set > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  text-align: right;
  margin: 32px;
}

.tile {
  width: 256px;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "IBM Plex Mono";
}

.tile img {
  width: 100%;
}
